# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
*.xcuserdata/
*.xcuserstate

## Project files (hati-hati, ini bikin .pbxproj gak ke-push)
*.xcodeproj/project.pbxproj
*.xcodeproj/xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
# .swiftpm/
# Package.resolved
# Package.pins
# Packages/

# CocoaPods
# Pods/
# *.xcworkspace

# Carthage
Carthage/Build/
# Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Derived data
DerivedData/

# Tujuan build
build/
*.o
*.d
*.s
*.ko
*.pyc
*.pyo
*.swp
*.zip
*.tar
*.tgz
*.gz

# macOS
.DS_Store
